
:root{

    --nom_variable: nom_couleur;
    --orange:#ffa62b;
    --surl:#ede7e3;
    --back:#82c0cc;
    --head:#16697A;
    --foots:#489fb5;
    --foots2:rgba(190, 149, 201, 0.9);
}

    
h1 ,h2 header{
    color: var(--orange);
    text-align: center;
    }  
p{
    text-align: right;
}

h2 {
        padding-left: 10000px;
}
body {
    font-family: 'blacksmith', sans-serif;
    background:linear-gradient(135deg, var(--surl),var(--back),rgba(20, 79, 167, 0.815));

}

a {
    margin-right: 0.5%;
    margin-left: 0.5%;
    color: var(--back);

}

header {
    background-color: var(--head);
    border:2px solid black;
    border-radius: 25px;
}

.lien1 {
    display: flex;
    justify-content: center;
    margin-right: auto;
    flex-wrap: wrap;


}

li{
    list-style-type: none;     /* Supprime les ronds des listes */
    text-align: right;
}
.boite1 li{
    margin-right: 100px;
}
.boite2 li{
    margin-right: 100px;
}
.boite2 p{
    margin-right: 150px;
}
.bluh {
    display: flex;
    justify-content: left;
    font-size: 8px;
    margin-left: 15px;
    flex-wrap: wrap;
}

nav a:hover{
        color:var(--surl);
}


footer {
    text-align:end;
    background-color: var(--foots);

}
#porte {
    color: black;
    text-decoration: underline dotted cyan;}
#porte a:hover {
    color:var(--surl);

    
}
@font-face {
    font-family: 'blacksmith' ;
    src:url('fonts/blacksmith.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

.boite1 , .boite2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;    
}
.boite1 p{
    margin-left: 10px;
}
#theme-toggle{
    background-color: var(--back);
    border-radius: 50%;
    padding: 0.5%;
    
}
#theme{
    text-align: right;
}




nav a {

    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: var(--head);
    border-radius: 6px;
}

nav a:hover {
    background: linear-gradient(135deg, rgb(65, 143, 143), rgb(17, 117, 122));

    border-left: 2px black solid;
    border-bottom: 1px black solid;


}
.Fuy1:hover {
    transform: translateY(1000px) scale(-10.05);
    transition: transform 1s ease;

}
.Fuy2:hover{
    transform: translateY(-700px) scale(1.05);
    margin-bottom: 70px;
    transition: transform 1s ease;

}

.Fuy3:hover{
    transform: translateX(1000px) scale(1.05);
    transition: transform 1s ease;

}
.Fuy4:hover{
    transform: translateZ(1000px) scale(0.05);
    transition: transform 1s ease;

}
.Fuy5:hover{
    transform: translateX(-1000px) scale(1.05);
    transition: transform 1s ease;

}
.Sens{
    color: var(--foots);
}
.Sens:hover{
    color: var(--head);

}
