body{
    background-color: rgba(0, 255, 234, 0.596);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Bloc {
    width: 45vw;
    height: 30vh;
    display: flex;
    background-color: rgba(255, 166, 0, 0.637);
    margin: 1vw;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
p {
    font-size: 2vw;
}