:root{
    /* Les couleurs */
    --couleur-primaire: #ff7b00;
    --couleur-secondaire: #ffa726;
    --couleur-texte: #333333;
    --couleur-fond: #fffaf3;

    /* Typographie */
    --police-principale: "Poppins" , sans-serif;
    --police-titre: "Montserrat" , sans-serif;

    /* Espacement*/
    --padding-section: 40px;
    --marge-element: 20px
}


:root[data-theme="dark"]{
    /* Les couleurs */
    --couleur-primaire: #ffa726;
    --couleur-secondaire: #4e342e;
    --couleur-texte: #f1f1f1;
    --couleur-fond: #121212;

}


:root[data-theme="blue"]{
    /* Les couleurs */
    --couleur-primaire: #1565c0;
    --couleur-secondaire: #90caf9;
    --couleur-texte: #0d47a1;
    --couleur-fond: #e3f2fd;

}




:root[data-theme="red"]{
    /* Les couleurs */
    --couleur-primaire: #f05d5d;
    --couleur-secondaire: #493636;
    --couleur-texte: #e6c2c2;
    --couleur-fond: #72531a;

}



:root[data-theme="jaune"]{
    /* Les couleurs */
    --couleur-primaire: #ddf3a0;
    --couleur-secondaire: #404e2e;
    --couleur-texte: #333331;
    --couleur-fond: #dbc699;

}