@media (min-width: 754px){
* {
    margin : 50px;
    padding: 50px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    }
body{
        background-color: orange;
    }
.Sect1{
    display: grid;
    border: 2px solid black;
    align-items: center;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 1vw);
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    margin: 25px;

}
.name {
    color: orange;
}
.Bloc1 {
    grid-column: 1;
    grid-row: 5 ;
    width: 10vw;        /* largeur */
    height: 10vw;       /* hauteur */
    padding: 10%;       /* espace interne */
    margin: 20px;        /* espace externe */
}

.Texte{
    grid-column: 6 /span 3 ;
    grid-row: 5;
    display: flex;
    width: 10vw;        /* largeur */
    height: 10vw;       /* hauteur */
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Texte p{
    text-align:center ;
    padding: 10%;
    margin: 0%;
    font-size: 1vw;
}
.Texte button{
    text-align:center ;
    padding: 10%;
    margin: 0%;
    font-size: 1vw;
    background-color: orange;
    border-radius: 20px;

}
}







/* Mode tel 600px*/
@media (max-width: 753px){
    * {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    }
body{
        background-color: green;
    }
.Sect1{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    padding: 0px;
    background-color: white;
    border-radius: 25px;
    margin: 25px;
    flex-wrap: wrap;

}
.name{
    color: green;
}
.Bloc1 {
    display: flex;
    
    width: 90%;        /* largeur */
    height: 90%;       /* hauteur */
    padding: 10%;       /* espace interne */
    margin: 20px;        /* espace externe */
}

.Texte{
    grid-column: 6 /span 3 ;
    grid-row: 5;
    display: flex;
    width: 90%;        /* largeur */
    height: 90%;       /* hauteur */
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Texte p{
    text-align:center ;
    padding: 10%;
    margin: 0%;
    font-size: 6vw;
}
.Texte button{
    text-align:center ;
    padding: 10%;
    margin: 0%;
    font-size: 5vw;
    background-color: green;
    margin-bottom: 10px;
    border-radius: 20px;
}


}
