body{
    background-color: orange;

}
.Naw{
    display: flex;
}


.logo {
    background-color: yellow;
    display: flex;
    width: 15%;        /* largeur */
    height: 80px;       /* hauteur */
    padding: auto;       /* espace interne */
    margin: 10px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;
}

.Menu {
    background-color: yellow;
    display: flex;
    width: 70%;        /* largeur */
    height: 80px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 10px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content:center ;
}

.Recherche {
    background-color: yellow;
    display: flex;
    width: 15%;        /* largeur */
    height: 80px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 10px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;
}

.main {
    display: flex;              /* aligne horizontalement les enfants */
    align-items: flex-start;    /* aligne verticalement les zones en haut */
    flex-wrap: nowrap;
    background-color: antiquewhite;
    
    
}
.Zone1 {
    display: grid;
    width: 20%;        /* largeur */
    height: 225px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 20px;        /* espace externe */      
}

.Zone1_1 {
    background-color: yellow;
    display: flex;
    width: 100%;        /* largeur */
    height: 225px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 20px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;

}

.Zone1_2  {
    background-color: yellow;
    display: flex;
    width: 100%;        /* largeur */
    height: 225px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 20px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;
    align-items: center;
}


.Zone2 {
    background-color: yellow;
    display: flex;
    width: 60%;        /* largeur */
    height: 600px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 20px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;
    align-items: center;
}

.Zone3 {
    background-color: yellow;
    display: flex;
    justify-items: right;
    width: 20%;        /* largeur */
    height: 600px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 20px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;
    align-items: center;
}

.legal {
    background-color: yellow;
    display: flex;
    justify-items: right;
    width: 60%;        /* largeur */
    height: 80px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 20px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;
    align-items: center;

}
.reseau {
    background-color: yellow;
    display: flex;
    justify-items: right;
    width: 30%;        /* largeur */
    height: 80px;       /* hauteur */
    padding: 10px;       /* espace interne */
    margin: 20px;        /* espace externe */
    border: 2px solid black; /* bordure */
    box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
    justify-content: center;
    align-items: center;

}


footer {
    display: flex;              /* aligne horizontalement les enfants */
    align-items: flex-start;    /* aligne verticalement les zones en haut */
    flex-wrap: nowrap;
    align-items: center;
}