h1 ,h2 header{
    color: #ffa62b;
        text-align: center;
        }   

body {
    background-color: #82c0cc;
    font-family: 'blacksmith', sans-serif;

}

a {
    margin-right: 5px;
    margin-left: 10px;
    color: #82c0cc;
    padding: 0.2%;
}

header {
    background-color: #16697A;
    border:2px solid black;
    border-radius: 25px;
}




.parc {
    justify-items: center;
}
table {
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 1vw;
    text-align: center;
    font-size: 2vh;
}
th {
    background-color: #004080;
    color: white;

}
#class1 , #class2 , #class3 {
    background-color: #004080;
    color: white;
}

nav a {
    /* Boîte & Espacement */
    display: inline-block;
    /* Permet au lien d'être transformable et de gérer le padding */
    padding: 6px 12px;
    /* Espace intérieur autour du texte */
    
    /* Typographie */
    
    text-decoration: none;
    /* Supprime le soulignement par défaut */
    color: #fff;
    /* Couleur du texte : blanc */
    font-weight: bold;
    /* Texte en gras */

    background-color: var(--head);

    /* Bordures */
    /************/
    border-radius: 6px;

    /* Transitions */
    transition: transform 0.75s ease;
}
nav a:hover {
    background: linear-gradient(135deg, darkcyan, darkgreen);
    /* Dégradé appliqué au survol */

    /* Transformations */
    transform: translateY(-7px) scale(1.05);
    border-left: 2px black solid;
    border-bottom: 1px black solid;

}
