h1 ,h2 {
    color: rgba(6, 97, 41, 0.705);
        text-align: center;

}

body {
    background-color: rgba(165, 0, 0, 0.726);
    font-family: 'blacksmith', sans-serif;
    

}
header {
    background-color: rgba(8, 189, 212, 0.644);
    border:2px solid black;
}
main {
    background-color: rgba(40, 0, 85, 0.664);
    border:2px solid black;
}
button {
    font-size: 2px;
    color: black;
}
p {
    color:rgb(30, 0, 78)

}
img {
    margin: auto;
    display: flex;
    width: auto;

}

.imag {
    background-color: rgba(76, 85, 0, 0.664);
    border:2px solid black;
}

nav a{
    color: blue;
}
a {
    margin-right: 10px;
    color: black;
}
nav a:hover{
        color:rgb(174, 0, 255);
}
footer {
    text-align:start;
    background-color: rgba(200, 38, 206, 0.349);

}
a:hover{
        color:rgb(0, 132, 255);
}
@font-face {
    font-family: 'blacksmith' ;
    src:url('fonts/blacksmith.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}