h1 {
    color: rgba(0, 146, 56, 0.705);
        text-align: center;

}
body {
    background-color: rgba(165, 0, 0, 0.726);
}
header {
    background-color: rgba(8, 189, 212, 0.644);
}
main {
    background-color: rgba(40, 0, 85, 0.664);
}
button {
    font-size: 2px;
    color: black;
}
p {
    color:rgb(30, 0, 78)

}
img {
    margin: auto;
    display: flex;
    width: auto;

}
