
:root{

    --nom_variable: nom_couleur;
    --orange:#ffa62b;
    --surl:#ede7e3;
    --back:#82c0cc;
    --head:#16697A;
    --foots:#489fb5;
}
.old-mode {
    --orange:rgba(2, 32, 14, 0.705);
    --surl:#ede7e3;
    --back:rgba(190, 149, 201, 0.486);
    --head:rgb(127, 255, 212);
    --foots:rgba(190, 149, 201, 0.9);
}

.jue-mode {
    --orange:blue;
    --surl:black;
    --back:purple;
    --head:red;
    --foots:white;
}
h1 ,h2 header{
    color: var(--orange);
        text-align: center;
        }   

body {
    background-color:var(--back);
    font-family: 'blacksmith', sans-serif;

}

a {
    margin-right: 0.5%;
    margin-left: 0.5%;
    color: var(--back);

}

header {
    background-color: var(--head);
    border:2px solid black;
    border-radius: 25px;
}

.lien1 {
    display: flex;
    justify-content: center;
    margin-right: auto;
    flex-wrap: wrap;


}

.bluh {
    display: flex;
    justify-content: right;
    font-size: 8px;
    margin-right: 15px;
    flex-wrap: wrap;
}

nav a:hover{
        color:var(--surl);
}


footer {
    text-align:start;
    background-color: var(--foots);

}
#porte {
    color: black;
}
#porte a:hover {
    color:var(--surl);
    
}
@font-face {
    font-family: 'blacksmith' ;
    src:url('fonts/blacksmith.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

.boite1 , .boite2 {
    display: flex;
    flex-wrap: wrap;
}
.boite1 p{
    margin-left: 10px;
}
#theme-toggle{
    background-color: var(--back);
    border-radius: 50%;
    padding: 0.5%;
}