h1 ,h2 {
    color: rgba(2, 32, 14, 0.705);
        text-align: center;
        }   

body {
    background-color: rgba(190, 149, 201, 0.486);
}

a {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
}


header {
    background-color: rgb(127, 255, 212);
    border:2px solid black;
}
nav a:hover{
        color:rgb(0, 132, 255);
}