
:root{

    --nom_variable: nom_couleur;
    --orange:#ffa62b;
    --surl:#ede7e3;
    --back:#82c0cc;
    --head:#16697A;
    --foots:#489fb5;
    --foots2:rgba(190, 149, 201, 0.9);
}

    

.old-mode {
    --orange:rgb(34, 212, 28);
    --surl:black;
    --back:purple;
    --head:#1e3ea8;
    --foots:white;
}
h1 ,h2 header{
    color: var(--orange);
        text-align: center;
        }   

body {
    font-family: 'blacksmith', sans-serif;
    background:linear-gradient(135deg, rgba(20, 79, 167, 0.815),var(--back),var(--surl));

}

a {
    margin-right: 0.5%;
    margin-left: 0.5%;
    color: var(--back);

}

header {
    background-color: var(--head);
    border:2px solid black;
    border-radius: 25px;
}

.lien1 {
    display: flex;
    justify-content: center;
    margin-right: auto;
    flex-wrap: wrap;


}

.bluh {
    display: flex;
    justify-content: right;
    font-size: 8px;
    margin-right: 15px;
    flex-wrap: wrap;
}

nav a:hover{
        color:var(--surl);
}


footer {
    text-align:start;
    background-color: var(--foots);

}
#porte {
    color: black;
    text-decoration: underline dotted cyan;}
#porte a:hover {
    color:var(--surl);
    
}
@font-face {
    font-family: 'blacksmith' ;
    src:url('fonts/blacksmith.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}

.boite1 , .boite2 {
    display: flex;
    flex-wrap: wrap;
}
.boite1 p{
    margin-left: 10px;
}



nav a:hover {

    background: linear-gradient(135deg, var(--foots),var(--orange));
    /* Transformations */
    transform: translateY(-3px) scale(1.05);
    /* Soulève le lien et l’agrandit légèrement */
}

nav a {

    display: inline-block;
    padding: 6px 12px;
    /* Espace intérieur autour du texte */
    text-decoration: none;
    /* Supprime le soulignement par défaut */
    color: #fff;
    font-weight: bold;
    background-color: var(--head);
    border-radius: 6px;
    transition: transform 2s ease;
    /* Animation fluide pour le déplacement au survol */
}
/* --- Survol des liens de navigation interne --- */

.Sens{
    color: var(--foots);
}
.Sens:hover{
    color: var(--head);

}
