h1 ,h2 {
    color: rgba(2, 32, 14, 0.705);
        text-align: center;
        }   

body {
    background-color: rgba(190, 149, 201, 0.486);
    

}

a {
    margin-right: 10px;
}

header {
    background-color: aquamarine;
    border:2px solid black;

}