    div {
        background:linear-gradient(90deg, yellow,orange,red);

        display: flex;
        width: 300px;        /* largeur */
        height: 150px;       /* hauteur */
        padding: 10px;       /* espace interne */
        margin: 20px;        /* espace externe */
        border: 2px solid black; /* bordure */
        box-sizing: border-box; /* padding et border inclus dans largeur et hauteur*/
        justify-content: center;
        border-radius: 5%;
        align-items: center;
}
    
p{
    color: white;
}

button{
    background-color: orange;
    transition: transform 2s ease ;
}